<!DOCTYPE html>
<html>
<head>
  <title>SolidusMarkdownifyEditor</title>
  <%= stylesheet_link_tag    "solidus_markdownify_editor/application", media: "all" %>
  <%= javascript_include_tag "solidus_markdownify_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
